#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
body {
  background-color: #392a22;
  background-image: url('assets/library.png');
  background-position-y: bottom;
  background-repeat-y: no-repeat;
  background-blend-mode: soft-light;
  background-size: contain;
  opacity: 0.7;
}

.info {
  margin: 20px;
  min-width: 30%;
  font-size: 1.3rem;
}

.results_list {
  display: flex;
  flex-direction: column;
  margin-bottom: 20vh;
  color: white;
}
li {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.search_input {
  width: 60vw;
  margin: 20px;
  font-size: 1.8rem;
  border: 2px solid grey;
  border-radius: 10px;
  padding: 8px;
}
.search_button {
  font-size: 1.2rem;
  border: 2px solid grey;
  border-radius: 10px;
}
.search_button:hover,
.search_input:hover {
  cursor: pointer;
  transform: scale(1.03);
}

.results_title {
  font-style: italic;
  font-weight: bold;
  font-size: 1.4rem;
}

.error_button {
  width: 150px;
  position: fixed;
  bottom: 50px;
  right: 50px;
}
.empty_list, .loader, .error {
  font-weight: bold;
  font-size: 2rem;
  color: white;
}
