#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
body {
  background-color: #392a22;
  background-image: url('assets/library.png');
  background-position-y: bottom;
  background-repeat-y: no-repeat;
  background-blend-mode: soft-light;
  background-size: contain;
  opacity: 0.7;
}

.info {
  margin: 20px;
  min-width: 30%;
  font-size: 1.3rem;
}

.results_list {
  display: flex;
  flex-direction: column;
  margin-bottom: 20vh;
  color: white;
}
li {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.search_input {
  width: 60vw;
  margin: 20px;
  font-size: 1.8rem;
  border: 2px solid grey;
  border-radius: 10px;
  padding: 8px;
}
.search_button {
  font-size: 1.2rem;
  border: 2px solid grey;
  border-radius: 10px;
}
.search_button:hover,
.search_input:hover {
  cursor: pointer;
  transform: scale(1.03);
}

.results_title {
  font-style: italic;
  font-weight: bold;
  font-size: 1.4rem;
}

.error_button {
  width: 120px;
  position: fixed;
  bottom: 50px;
  right: 50px;
  border-radius: 50%;
}
.empty_list,
.loader,
.error {
  font-weight: bold;
  font-size: 2rem;
  color: white;
}
.paginWrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.paginDisp,
.details_list {
  color: #100c0c;
  font-size: 1.2rem;
  font-weight: bolder;
}

.main {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.details_list {
  background: linear-gradient(
      7deg,
      rgba(108, 92, 60, 0.2) 0%,
      rgba(217, 214, 214, 0.5) 60%
    ),
    url('assets/book.png');
  background-size: contain;
  min-height: 50vh;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
}
.details_key {
  font-size: 1.3rem;
  font-weight: bold;
  text-decoration: underline;
}
.details_value {
  font-size: 1rem;
}
